.newNotebook-container{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    .notebookType-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 250px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #DEDEDF;
        cursor: pointer;
        &-img{
            height: 80%;
            width: 100%;
        }
        &-title{
            flex: 1;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #22b1ee;
        }
    }
}