.container {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    background: #fff;
    overflow: auto;
}

/* 给特定容器添加滚动条样式 */
#root .container::-webkit-scrollbar {
    width: var(--scrollbar-width);
}
/* 给特定容器添加滚动条样式 */
#root .ant-menu::-webkit-scrollbar {
    width: var(--scrollbar-width);
}


